<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link
      rel="icon"
      href="/images/favicon.ico"
      type="image/x-icon"
      sizes="32x32"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>404</title>
</head>
<body>
    <div class="not-found w-full h-screen flex items-center justify-center bg-slate-950">
        <h1 class="text-[5vw] text-white font-medium">404 Not Found</h1>
    </div>
</body>
</html>